<div class="col-12 text-center qrview sticky-top">
  <div #canvas class="col-12"></div>
  <div style="height: 12px;"></div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" (click)="update()">
      Actualizar QR
    </button>
  </div>
  <div style="height: 62px;"></div>
  <h3 class="text-center">Descargar</h3>
  <div style="height: 42px;"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">Tamaño de Descarga</div>
      <div class="col-3">
        <input
          type="number"
          class="form-control text-center"
          [(ngModel)]="x"/>
      </div>
      <div class="col-1">x</div>
      <div class="col-3">
        <input
          class="form-control text-center"
          type="number"
          [(ngModel)]="y"/>
      </div>
      <div class="col-12" style="height: 32px;"></div>
      <div class="col-8">
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="button" (click)="download()">
            Descargar
          </button>
        </div>
      </div>
      <div class="col-4">
        <select
          class="form-select"
          [(ngModel)]="typeFile"
          aria-label="Tipo de Contraseña">
          <option value="png" active>PNG</option>
          <option value="svg">SVG</option>
          <option value="webp">WEBP</option>
          <option value="jpeg">JPEG</option>
        </select>
      </div>
    </div>
  </div>

</div>
