@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: var(--text-color);
	background: var(--bg-site-g);
	overflow-x: hidden;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
