<footer class="footer pt-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="footer-widget mb-60">
          <a href="/" class="logo mb-30 text-center">
            <img src="/assets/img/logo.svg" class="logo " alt="logo">
          </a>
          <p class="mb-30 footer-desc"> QRGenerator es un servicio que permite generar QR completamente personalizados
            para todas tus necesidades</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="footer-widget mb-60">
          <h4>Free Service</h4>
          <ul class="footer-links">
            <li><a href="https://qrgenerator.vasak.net.ar/" target="_blank">QR
                Generator</a></li>
            <li><a href="https://wppgenerator.vasak.net.ar/" target="_blank">WhatsApp Link Generator</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="footer-widget mb-60">
          <h4>Contact</h4>
          <ul class="footer-contact">
            <li>
              <p>info@vasak.net.ar</p>
            </li>
            <li>
              <p>Oporto, Portugal</p>
            </li>
            <li>
              <p>Buenos Aires, Argentina</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="footer-social-links">
            <ul class="d-flex">
              <li><a href="https://web.facebook.com/vasakgroup" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="mailto:info@vasak.net.ar" target="_blank"><i class="fa fa-envelope"></i></a></li>
              <li><a href="https://www.linkedin.com/company/vasakgroup/" target="_blank"><i
                    class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/vasakgroup/" target="_blank"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <p>&copy; <strong><span>QR Generator</span></strong> Todos los
            dertechos reservados <a href="/" class="vsk-font" rel="nofollow">Vasak group</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>