<footer class="container-fluid">
  <div class="row">

    <div class="col-12 footer-end text-center">
      <p class="footer-end-text">
        Creado por <b>Lynx Software Design</b>
        <br />
        <a target="_blank" href="https://web.facebook.com/lynxsoftwaredesign">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>&nbsp;
        <a target="_blank" href="mailto:lynx.software.design@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>&nbsp;
        <a target="_blank" href="https://api.whatsapp.com/send?phone=541123882753&text=Gracias%20por%20comunicarte.%20%C2%BFEn%20que%20podemos%20ayudarte%3F">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>&nbsp;
        <a target="_blank" href="https://t.me/lynxsoftwaredesign">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </a>
        &nbsp;
        <a target="_blank" href="tel:+5491123882753">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
      </p>
    </div>

  </div>
</footer>
