@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #F6BB31;
  --color-secondary: #F46619;
  --font-sans: "Nunito", sans-serif;
}

body {
  @apply bg-slate-100 text-slate-950 dark:bg-slate-950 dark:text-slate-50 transition-all duration-300 font-sans;
}
