<div class="col-12 text-center qrdata">
  <h3><i class="fa fa-globe-w" aria-hidden="true"></i> Contenido</h3>
  <div style="height: 22px;"></div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
      class="nav-link active"
      id="url-tab" data-bs-toggle="tab"
      data-bs-target="#url"
      type="button"
      role="tab"
      aria-controls="url"
      aria-selected="true">
      URL
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
      class="nav-link"
      id="wifi-tab"
      data-bs-toggle="tab"
      data-bs-target="#wifi"
      type="button" role="tab"
      aria-controls="wifi"
      aria-selected="false">
        WiFi
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
      class="nav-link"
      id="playstore-tab"
      data-bs-toggle="tab"
      data-bs-target="#playstore"
      type="button" role="tab"
      aria-controls="playstore"
      aria-selected="false">
        PlayStore ID
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
      class="nav-link"
      id="sms-tab"
      data-bs-toggle="tab"
      data-bs-target="#sms"
      type="button" role="tab"
      aria-controls="sms"
      aria-selected="false">
        SMS
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
      class="nav-link"
      id="tel-tab"
      data-bs-toggle="tab"
      data-bs-target="#tel"
      type="button" role="tab"
      aria-controls="tel"
      aria-selected="false">
        Teléfono
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
      class="nav-link"
      id="mail-tab"
      data-bs-toggle="tab"
      data-bs-target="#mail"
      type="button" role="tab"
      aria-controls="mail"
      aria-selected="false">
        Mail
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="url" role="tabpanel" aria-labelledby="url-tab">
      <app-link></app-link>
    </div>
    <div class="tab-pane fade" id="wifi" role="tabpanel" aria-labelledby="wifi-tab">
      <app-wifi></app-wifi>
    </div>
    <div class="tab-pane fade" id="playstore" role="tabpanel" aria-labelledby="playstore-tab">
      <app-playstore></app-playstore>
    </div>
    <div class="tab-pane fade" id="sms" role="tabpanel" aria-labelledby="sms-tab">
      <app-sms></app-sms>
    </div>
    <div class="tab-pane fade" id="tel" role="tabpanel" aria-labelledby="tel-tab">
      <app-tel></app-tel>
    </div>
    <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">
      <app-mail></app-mail>
    </div>
  </div>
</div>
