<div class="col-12 text-center qrdata">
  <h3><i class="fa fa-globe-w" aria-hidden="true"></i> Agregar Contenido</h3>
  <div style="height: 22px;"></div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
      class="nav-link active"
      id="url-tab" data-bs-toggle="tab"
      data-bs-target="#url"
      type="button"
      role="tab"
      aria-controls="url"
      aria-selected="true">
      URL
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
    class="nav-link"
    id="wifi-tab"
    data-bs-toggle="tab"
    data-bs-target="#wifi"
    type="button" role="tab"
    aria-controls="wifi"
    aria-selected="false">
      WiFi
    </button>
  </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="url" role="tabpanel" aria-labelledby="url-tab">
      <app-link></app-link>
    </div>
    <div class="tab-pane fade" id="wifi" role="tabpanel" aria-labelledby="wifi-tab">
      Proximamente
    </div>
  </div>
</div>
